{% extends "_layouts/layout.twig" %}

{% block head %}{% endblock %}
{% block header %}{% endblock %}

{% block template %}
    {# Template code goes here #}
    <main id="app"></main>
    {% include '_slices/slices' %}
{% endblock %}

{% block footer %}{% endblock %}
